// ----------
// Global elements
// ----------

html, body, .app-wrapper
	height: 100%
	-webkit-overflow-scrolling: touch
	-ms-scroll-chaining: contain
	overscroll-behaviour: contain

// ----------
// Global elements
// ----------

.cf
	*zoom: 1

	&::before, &::after
		content: ' '
		display: block

	&::after
		clear: both
