// ----------
// Colours
// ----------

$b          : #000;
$w          : #fff;


// ----------
// Breakpoints
// ----------

$mobile     : 640px;
$tablet     : 864px;
$width      : 1200px;

@mixin above($size) {
	@media screen and (min-width: $size + 1) {
		@content;
	}
}

@mixin below($size) {
	@media screen and (max-width: $size) {
		@content;
	}
}


@import 'ease';
@import 'type';
